<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.whut.cailiao.ms.api.model.questionnaire.QuestionnaireContent" alias="QuestionnaireContent"/>
        <typeAlias type="com.whut.cailiao.ms.api.model.questionnaire.QuestionnaireTemplate" alias="QuestionnaireTemplate"/>
        <typeAlias type="com.whut.cailiao.ms.api.model.news.News" alias="News"/>
        <typeAlias type="com.whut.cailiao.ms.api.model.user.User" alias="User"/>
        <typeAlias type="com.whut.cailiao.ms.api.model.privilege.Privilege" alias="Privilege"/>
        <typeAlias type="com.whut.cailiao.ms.api.model.privilege.Role" alias="Role"/>
        <typeAlias type="com.whut.cailiao.ms.api.model.privilege.RolePrivilege" alias="RolePrivilege"/>
        <typeAlias type="com.whut.cailiao.ms.api.model.privilege.UserRole" alias="UserRole"/>
        <typeAlias type="com.whut.cailiao.ms.api.model.company.Company" alias="Company"/>
    </typeAliases>
    <mappers>
        <mapper resource="dao/questionnaire/questionnaireContentDao.xml"/>
        <mapper resource="dao/questionnaire/questionnaireTemplateDao.xml"/>
        <mapper resource="dao/questionnaire/questionnaireTemplateEditDao.xml"/>
        <mapper resource="dao/news/newsDao.xml"/>
        <mapper resource="dao/user/userDao.xml"/>
        <mapper resource="dao/privilege/privilegeDao.xml"/>
        <mapper resource="dao/privilege/roleDao.xml"/>
        <mapper resource="dao/privilege/rolePrivilegeDao.xml"/>
        <mapper resource="dao/privilege/userRoleDao.xml"/>
        <mapper resource="dao/company/companyDao.xml"/>
    </mappers>
</configuration>