<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>登录</title>
<meta charset="utf-8">
<!-- CORE CSS-->
<link href="/custom/login/css/style.css">
</head>
<body class="cyan loaded">
	<section class="container">
        <div class="login">
        <h1>水泥工业环境状况调查后台管理系统</h1>
        <form method="post" action="">
            <p><input type="text" name="login" value="" placeholder="Username or Email"></p>
            <p><input type="password" name="password" value="" placeholder="Password"></p>
            <p class="remember_me">
            <label>
                <input type="checkbox" name="remember_me" id="remember_me">
                记住密码
            </label>
            </p>
            <p class="submit " id="login_p"><input type="submit" name="login" value="登录"></p>
            <p class="submit _hidden" id="register_p"><input type="submit" name="register" value="注册"></p>
        </form>
        </div>
        <div class="login-help">
            <p id="now_register_p" class="">没有账号 <a href="javascript:void(0)" id="now_register">现在注册</a></p>
            <p id="now_login_p" class="_hidden">已有账号 <a href="javascript:void(0)" id="now_login">现在登录</a></p>
        </div>
  </section>
	
	<!-- jQuery Library -->
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>    
    <!--materialize js-->
    <script type="text/javascript" src="/materialize/js/materialize.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="/materialize/js/perfect-scrollbar.min.js"></script>
     <script>
      $(function(){
          $("#now_register").click(function(){
              $("#login_p").addClass("_hidden");
              $("#register_p").removeClass("_hidden");
              $("#now_register_p").addClass("_hidden");
              $("#now_login_p").removeClass("_hidden");
          });
          $("#now_login").click(function(){
              $("#register_p").addClass("_hidden");
              $("#login_p").removeClass("_hidden");
              $("#now_login_p").addClass("_hidden");
              $("#now_register_p").removeClass("_hidden");
          });
      })
  </script>
</body>
</html>