<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.whut.cailiao.api.model.questionnaire.QuestionnaireContent" alias="QuestionnaireContent"/>
    </typeAliases>
    <mappers>
        <mapper resource="dao/questionnaire/questionnaireContentDao.xml"/>
    </mappers>
</configuration>