<div id="table-datatables">
	<div class="row">
		<div class="col s12 m12 l12">
            <h4 class="header">问卷模板管理</h4>
			<a class="btn waves-effect waves-light blue" id="createNewTemplateBtn">创建新模板</a><br/><br/><br/>
			<div>
				<table class="responsive-table bordered centered hoverable">
					<thead>
						<tr>
							<th>＃</th>
							<th>问卷名称</th>
							<th>问卷描述</th>
							<th>生效时间</th>
							<th>失效时间</th>
							<th>状态</th>
                            <th>操作</th>
						</tr>
					</thead>
					<tbody id="wjt_table_body">
						
					</tbody>
				</table>
                <div id="pagination">
                </div>
			</div>
		</div>
	</div>
</div>
<br/>

<script type="text/javascript" src="/custom/util/ajax.js"></script>
<script type="text/javascript" src="/custom/wjt/wjt_list.js"></script>

