<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="cyan">
            <div class="nav-wrapper">
                <h1 class="logo-wrapper">
                    <a
                        href="javascript:void(0);"
                        class="brand-logo darken-1"><img
                        src="/materialize/img/materialize-logo.png"
                        alt="materialize logo"></a> <span class="logo-text">Materialize</span>
                </h1>
                <ul class="right hide-on-med-and-down">
                    <li class="search-out"><input type="text"
                        class="search-out-text"></li>
                    <li><a href="javascript:void(0);"
                        class="waves-effect waves-block waves-light show-search"><i
                            class="mdi-action-search"></i></a></li>
                    <li><a href="javascript:void(0);"
                        class="waves-effect waves-block waves-light"><i
                            class="mdi-social-notifications"></i></a></li>
                    <!-- Dropdown Trigger -->
                    <li><a
                        href="javascript:void(0);"
                        data-activates="chat-out"
                        class="waves-effect waves-block waves-light chat-collapse"><i
                            class="mdi-communication-chat"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->