<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- CORE CSS-->
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/adminlte/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/adminlte/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/adminlte/AdminLTE.min.css">
    <link rel="stylesheet" href="/adminlte/_all-skins.min.css">
    <link rel="stylesheet" href="/adminlte/style.css">

</head>

<body class="skin-blue fixed" data-spy="scroll" data-target="#scrollspy">
    <% include header.ejs %>
    <!-- START MAIN -->
    <% include sidebar.ejs %>
    <div id="main">
        
    </div>

    <!-- CORE js -->
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/adminlte/app.min.js"></script>
    <script type="text/javascript" src="/adminlte/jquery.slimscroll.min.js"></script>

</body>
</html>