<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>登录</title>
<meta charset="utf-8">
<!-- CORE CSS-->
<link href="/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="/materialize/css/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="/materialize/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="/materialize/css/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="/materialize/css/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<body>
	<% include header.ejs %>
	<!-- START MAIN -->
	<div id="main">
		<!-- START WRAPPER -->
		<div class="wrapper">
		    <% include sidebar.ejs %>
			<section id="content">
				<!--start container-->
				<div class="mainContent">
				
				</div>
				<!--end container-->
			</section>
		</div>
	</div>
	<!-- jQuery Library -->
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>    
    <!--materialize js-->
    <script type="text/javascript" src="/materialize/js/materialize.js"></script>
    <script type="text/javascript" src="/materialize/js/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="/materialize/js/perfect-scrollbar.min.js"></script>
    
    <script type="text/javascript" src="/materialize/js/jquery.dataTables.min.js"></script>
    <!-- <script type="text/javascript" src="assets/materialize/js/chartist.min.js"></script>
    <script type="text/javascript" src="/materialize/js/plugins.js"></script> -->
    
    <script type="text/javascript" src="/custom/home/sidebar_goto.js"></script>
    
</body>
</html>